#filter_results {
	padding-top: 2rem;
}

body.front-page {
	.page-header {
		@media (min-width: 768px) {
			position: relative;
			.h1 {
				position: absolute;
				bottom: 0;
				right: 0;
				left: 0;
				padding: 1rem;
				z-index: 1;
				color: white;
				background: transparentize(black, 0.5);
			}
		}
		.bg {
			aspect-ratio: 5/2.125;
			position: relative;
			z-index: 0;
			img {
				overflow: hidden;
				width: 100%;
				aspect-ratio: inherit;
				object-fit: cover;

			}
		}
	}
	.name_ideas {
		@apply flex flex-col text-center md:flex-row items-center justify-center gap-8;
		border: currentcolor solid;
		border-width: 2px 0;
		padding: 1rem 0;
		font-size: 0.8em;
		font-weight: bold;
	}
}
