body:not(.home) {
	.page-header {
		position: relative;
		.bg {
			border-bottom: 5px currentcolor solid;
			@apply aspect-[5/2] lg:aspect-[5/1];
			img {
				max-height: 100%;
				width: 100%;
				object-fit: cover;
				display: block;
			}
		}
		hgroup {
			padding: 0.5rem 0 2rem;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			display: flex;
			align-items: center;
			flex-direction: column;
			justify-content: center;
			text-shadow: 0 0 1rem #fff,  0 0 2rem #fff, 0 0 3rem #fff,0 0 4rem #fff,0 0 5rem #fff;
		}
	}
}
