body.single-name {

	section {
		margin: 2rem 0;
	}

	.name-briefing {
		@extend .h4;
		text-align: center;
	}
	.name-meaning {
		background: $maroon;
		color: white;
		padding: 1rem 0;
		text-align: center;
		p {
			font-size: 1.5rem;
		}
	}
	.name-pronunciation {
		text-align: center;
		font-size: 0.8em;
		margin-bottom: 2rem;
	}
	.name-content {
		@apply prose px-8;
		ul,
		p {
			@extend %paragraph;
		}
		ul {
			padding: 0 0 0 1rem;
			li {
				list-style: disc;
			}
		}
		blockquote {
			padding: 1rem;
			background: #eee;
			border-radius: 0.5rem;
		}
	}

	section {
		> * {
			text-align: center;
		}
	}

}
