form {
	label {
		display: flex;
		gap: 0.25rem;
		&[for] {
			cursor: pointer;
		}
		.field {
			width: 1em;
			height: 1em;
			display: inline-block;
			position: relative;
			svg {
				position: absolute;
				top: 0;
				left: 0;
				&.checked {
					display: none;
				}
			}
			& + [type="checkbox"],
			& + [type="radio"] {
				@apply sr-only;
			}
		}
		&.checked {
			.field {
				svg {
					&.checked {
						display: block;
					}
				}
			}
		}
	}
	input {
		&[type="text"],
		&[type="email"],
		&[type="search"],
		&[type="password"] {
			background: transparent;
			border: 2px currentcolor solid;
			padding: 0.5rem;
			font-size: 1em;
			font-family: inherit;
			border-radius: 0.25rem;
		}
	}
	[type="submit"] {
		margin: 0 auto;
	}
}
