
#graph-wrapper {
	@apply px-4 md:px-8;
	@apply flex items-center justify-center;
	.loader {
		@apply flex items-center justify-center;
		position: absolute;
		font-size: 4rem;
		color: #777;
		width: 100%;
		height: 100%;
		svg {
			width: 50px;
		}
	}
}

#sources {
	@apply prose;
}

.note {
	&.source {
		text-align: center;
		font-size: 0.75em;
		margin-top: 1rem;
	}
}

#trivia {
	text-align: center;
	.trivia {
		dt {
			margin-bottom: 0.5rem;
		}
		dd {
			font-size: 1.5em;
			margin-bottom: 1rem;
		}
	}
}
