
#refineGraph {
	.inner {
		display: flex;
		align-items: center;
		gap: 1em;
		height: 2em;
	}
	label {
		text-align: center;
		justify-content: center;
	}
	.sublabel {
		font-size: text(14);
		font-weight: bold;
		display: block;
	}
	h3 {
		display: flex;
		align-items: center;
	}

	.graph-controls {
		display: flex;
		gap: 0.25rem;
		> * {
			width: 50%;
			background: #eee;
			padding: 0.5rem;
		}
	}
}
