$theme-colors: (
	primary: #a31f40,
	secondary: #444,
	tertiary: #ececec,
	brown: #2E0E02,
	lightgreen: #C7EFCF
);

$gender-color: (
	female: #F66E8E,
	male: #53ABF1,
	neutral: #04A06A,
	femalemale: mix(#F66E8E, #53ABF1)
);
$primary: map-get($theme-colors, primary);
$secondary: map-get($theme-colors, secondary);
$brown: map-get($theme-colors, brown);

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;
