:root {
	--text-color: #374151;
}

body {
	color: var(--text-color);
	font: text(20) 'nunito-sans',sans-serif;
}

%htag {
	font-family: 'broadsheet',serif;
	margin-bottom: 0.5rem;
	&:last-child {
		margin-bottom: 0;
	}
}

.h1 {
	@extend %htag;
	font-size: 3rem;
	text-align: center;
}
.h2 {
	@extend %htag;
	font-size: 2rem;
	margin-bottom: 2rem;
	display: flex;
	flex-direction: column;
	text-align: center;
	&:before,
	&:after {
		order: 2;
		content: '';
		background: currentcolor;
		width: 1rem;
		height: 2px;
		display: block;
		margin: 0.25rem auto;
	}
	&:before {
		width: 2.5rem;
		margin-top: 1rem;
	}
}
.h3 {
	@extend %htag;
	font-size: 1.5rem;
}
.h4 {
	@extend %htag;
	font-size: 1rem;
}
