header.banner {
	border-bottom: 5px currentcolor solid;
	padding: 1rem 1rem 0;
	.brand {
		background: url('../../images/logo.svg');
		width: 389.632px;
		text-indent: -10000px;
		overflow: hidden;
		display: block;
		aspect-ratio: 389.632 / 80.656;
	}
}
